.glow-animation-steps {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #222738;
}

.glow-animation-steps::before,
.glow-animation-steps::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #222738;
    z-index: -1;
    animation: glow 2s ease infinite;
}

.glow-animation-steps::after {
    z-index: -2;
    animation-delay: 1s;
}

@keyframes glow {
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}
